{{#if success_msg}}
   <div class="alert alert-success">
    Situação: {{success_msg}}
   </div>
{{/if}}

{{#if error_msg}}
   <div class="alert alert-danger">
    Situação: {{error_msg}}
   </div>

{{/if}}